@model ageebSoft.RoomService.Models.Rooms

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Rooms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoorKey" class="control-label"></label>
                <input asp-for="DoorKey" class="form-control" />
                <span asp-validation-for="DoorKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNo" class="control-label"></label>
                <input asp-for="RoomNo" class="form-control" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustId" class="control-label"></label>
                <select asp-for="CustId" class ="form-control" asp-items="ViewBag.CustId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
